@import nib

///////////////////////////////////////////////////////////
// Incorporar Alinecacion vertical
///////////////////////////////////////////////////////////
$vrtAlignChilds($dir = false)
  &:before
  >*
    display         inline-block
    vertical-align  $dir if $dir != false
  &:before
    height     100%
    content    ' '

///////////////////////////////////////////////////////////
// Crear clases para alineacion vertical
///////////////////////////////////////////////////////////
$generateVerticalAlign($prefix)
  [class^={'"'+$prefix+'-"'}],
  [class*={'" '+$prefix+'-"'}]
    $vrtAlignChilds()
    
  $aligns = top, middle, bottom
  for $val in $aligns
    .{$prefix}-{$val}
      &:before,
      >*
        vertical-align  $val