@import nib

////////////////////////////////////////////////////////////////////////////
// Colores
////////////////////////////////////////////////////////////////////////////

$color-text = #263238
$color-text-inv = white
$color-main = #263238
$color-base = #b0bec5
$color-sec = #f0f0f0
$color-soft = #455a64

////////////////////////////////////////////////////////////////////////////
// Global
////////////////////////////////////////////////////////////////////////////

$header-height = 50px
$header-margin-bottom = 20px
$body-padding-top = $header-height + $header-margin-bottom
$footer-height = 50px

////////////////////////////////////////////////////////////////////////////
// Template
////////////////////////////////////////////////////////////////////////////

html
  position: relative
  min-height: 100%
  
body
  background-color: transparent
  color: $color-text
  padding-top: $body-padding-top
  margin-bottom: $footer-height
  z-index:1
  
.footer
  z-index: 1
  text-align: center
  height: $footer-height
  absolute: bottom 0
  width: 100%
  background-color: $color-sec

.page-inner
  padding-bottom: 30px
  
////////////////////////////////////////////////////////////////////////////
// Generales
////////////////////////////////////////////////////////////////////////////

.vertical-middle
  display: table
  >div
    display: table-cell
    vertical-align: middle

.ajustar
  max-width: 100%
  
.navbar-brand
  padding-top: 0
  padding-bottom: 0
  .logo
    background-image: url(../images/nb-s.png)
    background-size: cover
    background-position: center
    display: inline-block
    width: 35px
    height: 35px
    margin-right: 10px
    

////////////////////////////////////////////////////////////////////////////
// Home
////////////////////////////////////////////////////////////////////////////

.home-inner
  position: relative
  z-index: 1
  color: white
  p
    color: white
  i:before
    font-size: 96px
    
.page-home
  height: 100%;
  .footer
    color: white
    background-color: transparent
  &:before
    content ' '
    fixed: top left right bottom
    background-image: url(../images/index.jpg)
    background-size: cover
    background-position: center
  &:after
    content ' '
    fixed: top left right bottom
    background-color: rgba(0,0,0,.5)
  
////////////////////////////////////////////////////////////////////////////
// Sidebar
////////////////////////////////////////////////////////////////////////////

.indice
  margin-top: 50px
  text-align: right
  padding: 0 20px 0 0
  ul
    padding: 0
  h6
    font-weight: bold
    font-size: 16px
    margin-top: 15px
    margin-bottom: 0
  li
    list-style-type: none
    line-height: 1.1em
    font-size: 14px

    margin-top: 8px

////////////////////////////////////////////////////////////////////////////
// Bloque de clases
////////////////////////////////////////////////////////////////////////////
    
.block-classes
  color                   white
  text-align              center
  .row
    margin                0
  .texto
    padding               0.5rem 0
  .sep
    padding-bottom        0.5rem
  [class^="color-"]
    box-shadow            2px 2px 8px rgba(50,50,50,0.5)
    
  .color-1
    background-color      blue
  .color-2
    background-color      blueviolet
  .color-3
    background-color      darkslateblue
  .color-4
    background-color      crimson
  .color-5
    background-color      lime
  .color-6
    background-color      darkorange

////////////////////////////////////////////////////////////////////////////
// Tabla decola de mensajes
////////////////////////////////////////////////////////////////////////////
    
.rejilla
  td
    font-size             10px
    text-align            center
    border                1px solid black
    border-radius         0
  tbody th
    border-bottom         1px solid black
  .byte
    width                 50px
    text-align            center
  .obb
    background-color      gray
  .even
    background-color      lightgray