html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: transparent;
  color: #263238;
  padding-top: 70px;
  margin-bottom: 50px;
  z-index: 1;
}
.footer {
  z-index: 1;
  text-align: center;
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
}
.page-inner {
  padding-bottom: 30px;
}
.vertical-middle {
  display: table;
}
.vertical-middle >div {
  display: table-cell;
  vertical-align: middle;
}
.ajustar {
  max-width: 100%;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand .logo {
  background-image: url("../images/nb-s.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.home-inner {
  position: relative;
  z-index: 1;
  color: #fff;
}
.home-inner p {
  color: #fff;
}
.home-inner i:before {
  font-size: 96px;
}
.page-home {
  height: 100%;
}
.page-home .footer {
  color: #fff;
  background-color: transparent;
}
.page-home:before {
  content: ' ';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/index.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}
.page-home:after {
  content: ' ';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}
.indice {
  margin-top: 50px;
  text-align: right;
  padding: 0 20px 0 0;
}
.indice ul {
  padding: 0;
}
.indice h6 {
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 0;
}
.indice li {
  list-style-type: none;
  line-height: 1.1em;
  font-size: 14px;
  margin-top: 8px;
}
.block-classes {
  color: #fff;
  text-align: center;
}
.block-classes .row {
  margin: 0;
}
.block-classes .texto {
  padding: 0.5rem 0;
}
.block-classes .sep {
  padding-bottom: 0.5rem;
}
.block-classes [class^="color-"] {
  -webkit-box-shadow: 2px 2px 8px rgba(50,50,50,0.5);
  box-shadow: 2px 2px 8px rgba(50,50,50,0.5);
}
.block-classes .color-1 {
  background-color: #00f;
}
.block-classes .color-2 {
  background-color: #8a2be2;
}
.block-classes .color-3 {
  background-color: #483d8b;
}
.block-classes .color-4 {
  background-color: #dc143c;
}
.block-classes .color-5 {
  background-color: #0f0;
}
.block-classes .color-6 {
  background-color: #ff8c00;
}
.rejilla td {
  font-size: 10px;
  text-align: center;
  border: 1px solid #000;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.rejilla tbody th {
  border-bottom: 1px solid #000;
}
.rejilla .byte {
  width: 50px;
  text-align: center;
}
.rejilla .obb {
  background-color: #808080;
}
.rejilla .even {
  background-color: #d3d3d3;
}
